<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue-Boolzapp</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/23673491d4.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue-emoji-picker/dist/vue-emoji-picker.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>

    <div id="root" class="flex-wrapper">
        <div class="main-container flex-wrapper">
            <!-- ?ASIDE? -->
            <aside class="flex-wrapper">
                <!-- ?aside boolzapp top section? -->
                <div class="boolzapp-top-portion flex-wrapper">
                    <!-- ?user profile section? -->
                    <div class="photo-text-side flex-wrapper">
                        <div class="content-circle-wrapper">
                            <a href="#">
                                <img src="../img/avatar_io.jpg" alt="Francesca">
                            </a>
                        </div>
                        <div class="user-name">
                            <div>
                                <div>
                                    <a href="#">Francesca</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ?boolzapp top section icons? -->
                    <ul class="boolzapp-top-portion-icons flex-wrapper">
                        <li>
                            <span>
                                <a href="#">
                                    <i class="fa-solid fa-circle-notch"></i>
                                </a>
                            </span>
                        </li>
                        <li>
                            <span>
                                <a href="#">
                                    <i class="fa-solid fa-message"></i>
                                </a>
                            </span>
                        </li>
                        <li>
                            <span>
                                <a href="#">
                                    <i class="fa-solid fa-ellipsis-vertical"></i>
                                </a>
                            </span>
                        </li>
                    </ul>
                </div>
                <!-- ?aside notifications section? -->
                <div class="notifications flex-wrapper">
                    <div class="content-circle-wrapper flex-wrapper">
                        <a href="#">
                            <i class="fa-solid fa-bell-slash"></i>
                        </a>
                    </div>
                    <div class="notifications-txt-side">
                        <div>
                            <span>Receive new messages notifications</span>
                        </div>
                        <div>
                            <a href="#">
                                <span>Turn on desktop notifications</span>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- ?input side? -->
                <div class="contact-search flex-wrapper">
                    <label for="filtered-name">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </label>
                    <input v-model="filteredContact" @keyup="filterContact()" type="text" placeholder="Find or start a new chat" id="filtered-name">
                </div>
                <!-- ?aside user contacts section? -->
                <div class="user-contacts">
                    <!-- ?contacts side? -->
                    <div class="contacts-list">
                        <ul>
                            <li @click="showUserChat(index)" v-for="(element,index) in contacts" class="flex-wrapper" :class="{'active-chat': currentIndex === index}" v-show="element.visible">
                                <div class="contact-list-l-side flex-wrapper">
                                    <div class="content-circle-wrapper">
                                        <a href="#">
                                            <img :src="`../img/avatar${element.avatar}.jpg`" :alt="element.name">
                                        </a>
                                    </div>
                                    <div class="contact-info">
                                        <div class="contact-name">{{element.name}}</div>
                                        <div v-if="element.messages.length > 0" class="last-message">
                                            {{element.messages[element.messages.length - 1].text.slice(0, 20)}}<span v-if="element.messages[element.messages.length - 1].text.length > 20">...</span>
                                        </div>
                                    </div>
                                </div>
                                <div v-if="element.messages.length > 0" class="last-message-date">{{element.messages[element.messages.length - 1].date}}</div>
                            </li>
                        </ul>
                    </div>

                </div>
            </aside>

            <!-- ?MAIN? -->
            <main class="flex-wrapper">
                <!-- ?first section? -->
                <section>
                    <!-- ?main boolzapp top section? -->
                    <div class="boolzapp-top-portion flex-wrapper">
                        <!-- ?user profile section? -->
                        <div class="photo-text-side flex-wrapper">
                            <div class="content-circle-wrapper">
                                <a href="#">
                                    <img :src="`../img/avatar${contacts[currentIndex].avatar}.jpg`" :alt="contacts[currentIndex].name">
                                </a>
                            </div>
                            <div class="user-name">
                                <div>
                                    <a href="#">{{contacts[currentIndex].name}}</a>
                                </div>
                                <div v-if="contacts[currentIndex].messages.length > 0" class="last-seen">Last seen today at {{contacts[currentIndex].messages[contacts[currentIndex].messages.length -1].date}}</div>
                            </div>
                        </div>
                        <!-- ?boolzapp top section icons? -->
                        <ul class="boolzapp-top-portion-icons flex-wrapper">
                            <li>
                                <span>
                                    <a href="#">
                                        <i class="fa-solid fa-magnifying-glass"></i>
                                    </a>
                                </span>
                            </li>
                            <li>
                                <span>
                                    <a href="#">
                                        <i class="fa-solid fa-paperclip"></i>
                                    </a>
                                </span>
                            </li>
                            <li>
                                <span>
                                    <a href="#">
                                        <i class="fa-solid fa-ellipsis-vertical"></i>
                                    </a>
                                </span>
                            </li>
                        </ul>
                    </div>
                </section>
                <!-- ?first section end? -->

                <!-- ?second section? -->
                <section>
                    <!-- ?messages wrapper? -->
                    <div class="messages-wrapper">
                        <div v-for="(element,index, array) in contacts[currentIndex].messages" class="message" :class="element.status">
                            <div class="message-content">
                                {{element.text}}
                                <span class="message-arrow">
                                    <a @click="showInfo(index)" href="#">
                                        <i class="fa-solid fa-chevron-down"></i>
                                    </a>
                                </span>

                                <div class="message-options" :class="{'active': currentMessageIndex === index}">
                                    <div class="message-info">Message info</div>
                                    <div @click="deleteMessage()" class="message-delete">Delete message</div>
                                </div>
                            </div>
                            <div class="message-date">
                                <span>{{element.date}}</span>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- ?second section end? -->

                <!-- ?third section? -->
                <section class="flex-wrapper">
                    <div class="main-bottom-icon">
                        <span>
                            <a href="#">
                                <i class="fa-regular fa-face-smile"></i>
                            </a>
                        </span>
                    </div>
                    <textarea v-model="newMessage" @keyup.enter="sendNewMessage()" cols="30" rows="1" placeholder="Write a message"></textarea>
                    <div class="main-bottom-icon">
                        <span v-if="newMessage.length === 0">
                            <a href="#">
                                <i class="fa-solid fa-microphone"></i>
                            </a>
                        </span>
                        <span v-if="newMessage.length > 0" @click="sendNewMessage()">
                            <a href="#">
                                <i class="fa-solid fa-paper-plane"></i>
                            </a>
                        </span>
                    </div>
                </section>
                <!-- ?third section end? -->
            </main>
            <!-- ?MAIN END? -->
        </div>
    </div>

    <script src="js/script.js"></script>
</body>
</html>