/* *RESET* */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

/* ?VARIABLES? */
:root {
    --main-font-size: 0.8rem;
    --main-icons-font-size: 1rem;
    --medium-icons-font-size: 0.85rem;
    --main-font-family: "Segoe UI", Arial, sans-serif;
    --gray-text: #b1b1b1;
    --notification-main-color: #8edafb;
    --aside-padding: 0.5rem;
    --border-color: #f5f5f5;
    --message-sent: #d5f9ba;
    --message-received: #ffffff;
    --box-shadow: 0 2px 4px #b1b1b1;
    --messages-padding: 0.8rem;
    --message-date-font-size: 0.5rem;
    --main-bottom-icon-padding: 1rem 1.5rem;
}

/* *COMMON* */
body {
    font-size: var(--main-font-size);
    font-family: var(--main-font-family);
    font-weight: 600;
    background: linear-gradient(0deg, rgba(213,218,215,1) 82%, rgba(0,149,135,1) 82%);
}
#root {
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.main-container {
    width: 70%;
    min-width: 950px;
    height: 95%;
}
.flex-wrapper {
    display: flex;
}
img {
    width: 100%;
    display: block;
}
.content-circle-wrapper {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
}
.boolzapp-top-portion .content-circle-wrapper {
    width: 30px;
    height: 30px;
}
i {
    color: var(--gray-text);
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: inherit;
}
textarea,
input {
    font-family: inherit;
    font-weight: inherit;
}
textarea:focus,
input:focus {
    outline: none;
}

/* *hiding scrollbar from textareas* */
main section:nth-child(3) > textarea::-webkit-scrollbar {
    display: none;
}
main section:nth-child(3) > textarea {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* *changing placeholder's color* */
::placeholder {
    color: var(--gray-text);
    opacity: 1;
} 
:-ms-input-placeholder {
    color: var(--gray-text);;
}
::-ms-input-placeholder {
    color: var(--gray-text);
}

/* *boolzapp top portion* */
.boolzapp-top-portion {
    padding: 0.5rem 0.4rem;
    background-color: #eaeaea;
    justify-content: space-between;
}
main .boolzapp-top-portion {
    border-left: 1px solid lightgray;
}
.boolzapp-top-portion > .photo-text-side.flex-wrapper {
    align-items: center;
}
.boolzapp-top-portion .user-name {
    padding-left: 0.3rem;
}
.boolzapp-top-portion-icons {
    justify-content: space-between;
    align-items: center;
}
.boolzapp-top-portion-icons i {
    padding: 0 0.5rem;
    font-size: var(--medium-icons-font-size);
}

/* *hodden menus* */
.chat-menu {
    position: relative;
}
.chat-options,
.message-options {
    background-color: #fff;
    border-radius: 0.25rem;
    box-shadow: var(--box-shadow);
    position: absolute;
    display: none;
}
.chat-options {
    z-index: 100;
    top: 1.5rem;
    right: 0;
}
.message-options {
    z-index: 99;
    top: 2rem;
    right: 0.5rem;
}
.chat-options.active,
.message-options.active {
    display: block;
}
.first-option {
    padding: 1rem 1.5rem 0.5rem;
}
.second-option {
    padding: 0.5rem 1.5rem 1rem;
}
.chat-options .first-option,
.chat-options .second-option {
    width: 10.5rem;
}
.first-option:hover,
.second-option:hover {
    background-color: #e9ebea;
    cursor: pointer;
}

/* *icons hover color change* */
a:hover > .fa-circle-notch {
    color: #5f0094;
}
a:hover > .fa-message {
    color: #009487;
}
a:hover > .fa-ellipsis-vertical,
a:hover > .fa-magnifying-glass,
a:hover > .fa-camera {
    color: #000;
}
a:hover > .fa-paperclip {
    color: #8edafb;
}
a:hover > .fa-microphone {
    color: #f00;
}
a:hover > .fa-paper-plane {
    color: #8edafb;
}


/* *ASIDE* */
aside {
    width: 30%;
    overflow-y: hidden;
    background-color: white;
    flex-direction: column;
}
.notifications,
.contacts-list li {
    padding: var(--aside-padding);
}

/* *aside notifications section* */
.notifications {
    align-items: center;
    background-color: var(--notification-main-color);
}
.notifications > .flex-wrapper {
    justify-content: center;
    align-items: center;
    background-color: white;
}
.notifications > .flex-wrapper i {
    padding: 1rem;
    font-size: 0.8rem;
    color: var(--notification-main-color);
}
.notifications-txt-side {
    padding-left: var(--aside-padding);
}
.notifications-txt-side > div:first-child {
    font-size: 0.7rem;
}
.notifications-txt-side > div:last-child {
    font-size: 0.6rem;
}
.notifications-txt-side > div:last-child a {
    color: gray;
    text-decoration: underline;
}

/* *input side* */
.contact-search {
    padding: 0.3rem;
    justify-content: center;
    background-color: #fafafa;
}
.contact-search * {
    font-size: 0.6rem;
}
.contact-search > input {
    padding: 0 0.5em;
    width: 100%;
    border: 1px solid;
    border-left: none;
}
.contact-search > label {
    border: 1px solid;
}
.contact-search > label {
    padding: 0 1.5em;
    border-right: none;
}
.contact-search > label i {
    font-size: 0.8rem;
}
.contact-search > label i:hover {
    color: var(--gray-text);
}
.contact-search > input,
.contact-search > label {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-color: var(--border-color);
    background-color: white;
}

/* *contacts side* */
.user-contacts {
    flex-grow: 1;
    overflow-y: auto;
}
.contacts-list li {
    justify-content: space-between;
    border-top: 1px solid var(--border-color);
    cursor: pointer;
}
.contacts-list li:hover {
    background-color: #e9ebea;
}
.contact-info {
    padding-left: var(--aside-padding);
}
.last-message,
.last-message-date {
    color: var(--gray-text);
}
.last-message {
    font-size: 0.6rem;
}
.last-message-date {
    font-size: var(--message-date-font-size);
}
.active-chat {
    background-color: lightgray;
}

/* *MAIN* */
main {
    width: 70%;
    flex-direction: column;
}

/* *main first section* */
.last-seen {
    font-size: 0.6rem;
    color: gray;
}

/* *main second section* */
main > section:nth-child(2) {
    padding-top: 2rem;
    background-image: url("../../img/mine.jpg");
    overflow-y: auto;
    flex-grow: 1;
}
.messages-wrapper {
    margin: 0 auto;
    width: 80%;
    height: 100%;
}
.message {
    margin: 0.4rem 0;
    max-width: 60%;
    min-width: 40%;
    display: block;
    clear: both;
    border-radius: 0.5rem;
    overflow-wrap: break-word;
    position: relative;
    box-shadow: var(--box-shadow);
}
.message-arrow {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
.message:hover .message-arrow {
    display: block;
}
.message-arrow i {
    padding: 0.8rem;
    border-radius: 50%;
}
.message-content {
    padding: var(--messages-padding) var(--messages-padding) 0;
}
.message-date {
    padding: 0.1rem 0.3rem;
    text-align: right;
}
.message-date > span {
    font-size: var(--message-date-font-size);
    color: var(--gray-text);
}
.message.sent {
    background-color: var(--message-sent);
    float: right;
}
.message.sent i {
    background: radial-gradient(circle, rgba(213,249,186,1) 30%, rgba(0,0,0,0) 100%);
}
.message.received {
    background-color: var(--message-received);
    float: left;
}
.message.received i {
    background: radial-gradient(circle, rgba(255,255,255,1) 30%, rgba(0,0,0,0) 100%);
}

/* *main third section* */
main section:nth-child(3) {
    padding: 0.35rem 0;
    align-items: center;
    background-color: #f3eeea;
}
.regular-input {
    padding: 0.6rem 2.3rem 0.6rem 1rem;
    width: 100%;
    border: 1px solid var(--border-color);
    border-radius: 0.2rem;
    resize: none;
    font-size: 0.8rem;
}
.main-bottom-icon a {
    margin: 0 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}
.main-bottom-icon i {
    font-size: var(--main-icons-font-size);
    color: gray;
}

/* *EMOJI* */
.input-emoji-wrapper {
    position: relative;
    flex-grow: 1;
}
.emoji-invoker {
    position: absolute;
    top: 0.45rem;
    right: 0.6rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.1s;
}
.emoji-invoker:hover {
    transform: scale(1.05);
}
.emoji-invoker > svg {
    fill: var(--gray-text);
}
.emoji-invoker:hover > svg {
    fill: #fdd335;
}
.emoji-picker {
    padding: 0.7rem;
    width: 15rem;
    height: 10rem;
    border: 1px solid #ccc;
    border-radius: 0.3rem;
    background: rgba(255,255,255,.95);
    box-shadow: var(--box-shadow);
    overflow: auto;
    position: absolute;
    right: 1.2rem;
    bottom: 100%;
    z-index: 101;
}
.emoji-picker__search > input {
    padding: 0.5rem 0.75rem;
    flex: 1;
    border-radius: 0.2rem;
    border: 1px solid lightgray;
}
.emoji-picker h5 {
    padding: 0.3rem 0;
    font-size: 0.7rem;
    color: #b1b1b1;
    text-transform: uppercase;
    cursor: default;
}
.emoji-picker .emojis {
    font-size: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}
.emoji-picker .emojis:after {
    content: "";
    flex: auto;
}
.emoji-picker .emojis span {
    padding: 0.25rem;
    border-radius: 0.25rem;
    cursor: pointer;
}
.emoji-picker .emojis span:hover {
    background: #ececec;
    cursor: pointer;
}